<div>
  <!-- 面包屑导航 -->
  <el-breadcrumb class="breadcrumb" separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/home' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>权限管理</el-breadcrumb-item>
    <el-breadcrumb-item>权限列表</el-breadcrumb-item>
  </el-breadcrumb>
  <el-table
    :stripe="true"
    ref="singleTable"
    :data="userRightsList"
    highlight-current-row
    @current-change="handleCurrentChange"
    style="width: 100%"
  >
    <el-table-column type="index" width="50" :index="indexMethod">
    </el-table-column>
    <el-table-column property="authName" label="权限名称" width="120">
    </el-table-column>
    <el-table-column property="path" label="路径" width="120">
    </el-table-column>
    <el-table-column label="层级">
      <!-- 自定义模板 -->
      <template slot-scope="scope">
        <span v-if="scope.row.level === '0'">一级</span>
        <span v-else-if="scope.row.level === '1'">二级</span>
        <span v-else>三级</span>
      </template>
    </el-table-column>
  </el-table>
</div>
